body{
    background: #666
}
ul{
    padding: 0;
    margin: 0
}
li{
    list-style: none;
}
img{
    border: 0
}
.play{
    width:400px;
    height: 300px;
    margin:100px;
    background: #999;
}
.bigImage{
    width:400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.bigImage img{
    width:400px;
    height: 300px;
}
.bigImage li{
    width:400px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
}
.mark-left{
    position: absolute;
    top: 0px;
    left:0px;
    width: 200px;
    height: 300px;
    opacity: 0;
    z-index: 999;
    background: red
}
.mark-right{
    position: absolute;
    top: 0;
    left:200px;
    width: 200px;
    height: 300px;
    opacity: 0;
    z-index: 999;
    background: green
}
.bigImage .prev{
    width:64px;
    height: 64px;
    position: absolute;
    left:0px;
    top:120px;
    background: url(images/arrow.png) no-repeat;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}
.bigImage .next{
    width:64px;
    height: 64px;
    position: absolute;
    left:340px;
    top:120px;
    background: url(images/arrow.png) no-repeat ;
    transform: rotateY(180deg);
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}
.smallImage{
    position: absolute;
    top: 400px;
    width:400px;
    height: 75px;
    overflow: hidden;
}
.smallImage ul{
    position: absolute;
    height: 75px;
    border:1px solid
}
.smallImage ul li {
    width:133px;
    height: 75px;
    float: left;
}
.smallImage ul li img{
    width:130px;
    height: 75px;
    position: absolute;
    margin: 1px
}